<div class="jumbotron text-center">
  <h1>Welcome to Developer Hub</h1>
  <h3>A membership platform where Developers can hook with Entrepreneurs</h3>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center"> Free Membership </h2>
      <h4>Sign up for free to view our community.</h4>
      <br/>
      <%= link_to "Sign Up for Free Account", new_user_registration_path, class: 'btn btn-primary btn-lg btn-block' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <h2 class="text-center"> Pro Membership </h2>
      <h4>Sign up for the pro account for $10 to access our community and the contact information!</h4>
      <%= link_to "Sign Up for Pro Account", new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
    </div>
  </div>
</div>